{% extends "layout.html" %}

{% block content %}
    <section>
        <header><h2>Register</h2></header>
        <p class="emphasized">Completed applications will be verified by faculty or staff members.</p>
        {% with method="post" %}
            {% include "forms.html" %}
        {% endwith %}
        <footer>
            <p>
                Already have an account? <a href="{{ url_for('auth.login') }}">Click here to log in.</a>
            </p>
        </footer>
    </section>
{% endblock %}
