{% extends "layout.html" %}

{% block content %}
    <article>
        <header>
            <h1>Register</h1>
            <p>Completed applications will be verified by faculty or staff members.</p>
        </header>
        {% with method="post" %}
            {% include "forms.html" %}
        {% endwith %}
        <footer>
            <p>
                Already have an account? <a href="{{ url_for('auth.login') }}">Click here to log in.</a>
            </p>
        </footer>
    </article>
{% endblock %}
