{% extends 'users.html' %}

{% from 'macros.html' import print_user_info, get_user_classes with context %}

{% block title %}{{ user }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        {{ print_user_info(user) }}

        <section>
            <header><h3>Classes</h3></header>
            {% if user.classes %}
                {{ get_user_classes(user, emphasized=True) }}
            {% else %}
                <p class="emphasized"><em>{{ user }} isn't {{ 'teaching' if current_user.is_teacher else 'taking' }} any classes.</em></p>
            {% endif %}
        </section>
    </section>
{% endblock %}
