{% extends 'layout.html' %}

{% from 'macros.html' import action_links, print_class_info with context %}

{% block title %}Academics - {{ super() }}{% endblock %}

{% block content %}
    <nav>
        <header><h2>Index</h2></header>
        <ul>
            <li><a href="#departments">Departments</a></li>
            <li><a href="#majors">Majors</a></li>
            <li><a href="#majors">Courses</a></li>
            <li><a href="#terms">{{ config.ACADEMIC_TERM.system_plural_capital }}</a></li>
        </ul>
    </nav>
    <section id="departments">
        <header><h2>Departments</h2></header>
        {% call action_links('h3', current_user.is_teacher) %}
            {{ nav_link(url_for('admin.new_department'), 'Add New Department') }}
        {% endcall %}
        {% if departments %}
            {% for department in departments %}
                <section class="card">
                    <header><h3>{{ department }}</header></h3>
                    <p>Chair: <strong class="emphasized">{{ department.chair }}</strong></p>
                    <p>Office: <strong class="emphasized">{{ department.office }}</strong></p>
                    {% call action_links('h4', current_user.is_teacher) %}
                        {{ nav_link(url_for('admin.edit_department', department_id=department.id), 'Edit') }}
                    {% endcall %}
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No departments listed.</em></p>
        {% endif %}
    </section>
    <section id="majors">
        <header><h2>Majors</h2></header>
        {% call action_links('h3', current_user.is_teacher) %}
            {{ nav_link(url_for('admin.new_major'), 'Add New Major') }}
        {% endcall %}
        {% if majors %}
            {% for major in majors %}
                <section class="card">
                    <header><h3>{{ major }}</header></h3>
                    {% if major.department %}
                        <p>Department: <strong class="emphasized">{{ major.department.name }}</strong></p>
                    {% endif %}
                    {% call action_links('h4', current_user.is_teacher) %}
                        {{ nav_link(url_for('admin.edit_major', major_id=major.id), 'Edit') }}
                    {% endcall %}
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No majors listed.</em></p>
        {% endif %}
    </section>
    <section id="courses">
        <header><h2>Courses</h2></header>
        {% call action_links('h3', current_user.is_teacher) %}
            {{ nav_link(url_for('admin.new_course'), 'Add New Course') }}
        {% endcall %}
        {% if courses %}
            {% for course in courses %}
                <section class="card">
                    <header><h3>{{ course }}</header></h3>
                    <p>Name: <strong class="emphasized">{{ course.name }}</strong></p>
                    {% call action_links('h4', current_user.is_teacher) %}
                        {{ nav_link(url_for('admin.edit_course', course_id=course.id), 'Edit') }}
                    {% endcall %}
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No courses listed.</em></p>
        {% endif %}
    </section>
    <section id="terms">
        <header><h2>{{ config.ACADEMIC_TERM.system_plural_capital }}</h2></header>
        {% call action_links('h3', current_user.is_teacher) %}
            {{ nav_link(url_for('admin.new_term'), 'Add New ' + config.ACADEMIC_TERM.system_capital) }}
        {% endcall %}
        {% if terms %}
            {% for term in terms %}
                <section class="card">
                    <header><h3>{{ term }}</header></h3>
                    <p>Start Date: <strong class="emphasized">{{ term.start_date }}</strong></p>
                    <p>End Date: <strong class="emphasized">{{ term.end_date }}</strong></p>
                    {% call action_links('h4', current_user.is_teacher) %}
                        {{ nav_link(url_for('admin.edit_term', term_id=term.id), 'Edit') }}
                    {% endcall %}
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No {{ config.ACADEMIC_TERM.system_plural }} listed.</em></p>
        {% endif %}
    </section>
{% endblock %}
