{% extends 'classes.html' %}

{% block title %}{{ current_class }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header><h2>{{ current_class }}</h2></header>
        {{ print_class_info(current_class) }}
        <section>
            <header><h3>Students</h3></header>
            {% call action_links('h4', current_user.is_teacher) %}
                {# TODO #}
                {{ nav_link('/', 'Enroll Students') }}
            {% endcall %}
            <p class="emphasized"><em>No students enrolled.</em></p>
        </section>
    </section>
{% endblock %}
