{% extends 'classes.html' %}

{% block title %}{{ current_class }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header><h2>{{ current_class }}</h2></header>
        {{ print_class_info(current_class) }}
        <section>
            <header><h3>Students</h3></header>
            {% if current_user.is_teacher %}
                <section class="card">
                    <header><h4>Enroll Student</h4></header>
                    {{ print_form(form=form, method='post') }}
                </section>
            {% endif %}
            {% if students.count() > 0 %}
                <ul>
                    {% for student in students %}
                        <li>{{ student }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="emphasized"><em>No students enrolled.</em></p>
            {% endif %}
        </section>
    </section>
{% endblock %}
