{% extends 'layout.html' %}

{% from 'macros.html' import action_links with context %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/twitterFetcher_min.js') }}"></script>
    <script>
        function initialize() {
            var configProfile = {
                "profile": {"screenName": "{{ config.TWITTER_SCREEN_NAME or 'CityCollegeNY' }}"},
                "domId": "tweets",
                "maxTweets": 4,
                "enableLinks": true,
                "showUser": true,
                "showTime": true,
                "showImages": true,
                "lang": "en",
            };
            twitterFetcher.fetch(configProfile);
        }
    </script>
{% endblock %}

{% block body_attributes %}onload="initialize();"{% endblock %}

{% block content %}
    <section>
        <header><h2>Whiteboard</h2></header>
        <p>{{ lipsum() }}</p>
    </section>
    <section>
        <header><h2>Social Media</h2></header>
        <section id="twitter" class="card">
            <header><h3>Twitter</h3></header>
            {#
            {% call action_links('h4', header='Posts', use_list=False) %}
                <button>Older</button>
                <button>Newer</button>
            {% endcall %}
            #}
            <div id="tweets"></div>
        </section>
    </section>
{% endblock %}
