{% extends 'class-info.html' %}

{% block title %}Absence Log - {{ super() }}{% endblock %}

{% block subcontent %}
    <section>
        <header>
            <h3>Absence Log</h3>
            {% call action_links(current_class.teacher == current_user.teacher) %}
                {% block record_toggler %}
                    {{ nav_link(url_for('classes.record_absence', class_id=current_class.id), 'Enter Manual Mode') }}
                {% endblock %}
            {% endcall %}
        </header>

        {% block log_content %}{% endblock %}

        {% if absences.count() > 0 %}
            {% set ns = namespace(prev_date=none) %}
            {% for absence in absences %}
                {% if ns.prev_date is none or absence.date != ns.prev_date%}
                    {% if ns.prev_date is not none %}
                        </ul>
                    </section>
                    {% endif %}
                    <section>
                        <header><h4>{{ absence.date }}</h4></header>
                        <ul class="user-list">
                            {# Closing tags above #}
                {% endif %}

                {% call print_user(absence.student.user) %}
                    <ul>
                        <li class="emphasized">Absences: <strong>{{ absence.student.absences|length }}</strong></li>
                        {% if current_class.teacher == current_user.teacher %}
                            <li>
                                <form class="inlined" action="{{ url_for('classes.remove_absence', class_id=absence.class_id, date=absence.date, student_id=absence.student_id) }}" method="post">
                                    {{ get_csrf_token() }}
                                    <input type="submit" name="action" value="Remove Absence">
                                </form>
                            </li>
                        {% endif %}
                    </ul>
                {% endcall %}

                {% set ns.prev_date = absence.date %}
            {% endfor %}
                            {# Closing tags for last absence in absences #}
                        </ul>
                    </section>
        {% else %}
            <p class="emphasized">
                <em>
                    {% if current_user.is_teacher %}
                        No student was absent so far.
                    {% else %}
                        You don't have any absences.
                    {% endif %}
                </em>
            </p>
        {% endif %}
    </section>
{% endblock %}
