{% extends 'forms.html' %}

{% from 'macros.html' import action_links, print_class_card, get_csrf_token with context %}

{% block title %}Classes - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header><h2>Classes</h2></header>
        {% call action_links('h3', current_user.is_teacher) %}
            {{ nav_link(url_for('classes.new_class'), 'Add New Class') }}
        {% endcall %}

        {% if classes %}
            {% for class in classes %}
                {{ print_class_card(class, actions_print_condition=class.has_user(current_user)) }}
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No classes listed.</em></p>
        {% endif %}
    </section>
{% endblock %}
