{% extends 'classes.html' %}

{% from 'macros.html' import print_class_info, print_class_links, print_user with context %}

{% block title %}{{ current_class }} - {{ super() }}{% endblock %}

{% block style %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">
{% endblock %}

{% block content %}
    <section>
        <header>
            <h2>{{ current_class }}</h2>
            {{ print_class_links(current_class, False) }}
        </header>

        <section class="card">
            <header>
                <h3>Class Information</h3>
                {% call action_links(current_class.teacher == current_user.teacher) %}
                    {{ nav_link(url_for('classes.edit_class', class_id=current_class.id), 'Edit', append_return_url=True) }}
                {% endcall %}
            </header>
            {{ print_class_info(current_class) }}
        </section>

        {% block subcontent %}
            <section>
                <header>
                    <h3>Students</h3>
                    {% call action_links(current_class.has_user(current_user)) %}
                        {% block enrollment_toggler %}
                            {{ nav_link(url_for('classes.enrollment', class_id=current_class.id), 'Show Enrollment Panel', current_class.teacher == current_user.teacher) }}
                        {% endblock %}
                    {% endcall %}
                </header>

                {% block enrollment_content %}{% endblock %}

                {% if students.count() > 0 %}
                    <ul class="user-list">
                        {% for student in students %}
                            {% if current_class.has_user(current_user) and student.absent(current_class.id) %}
                                {% set print_user_class = 'absent' %}
                            {% else %}
                                {% set print_user_class = '' %}
                            {% endif %}

                            {% if current_class.teacher.user == current_user %}
                                {% call print_user(student.user, class=print_user_class) %}
                                    <form class="inlined" method="post">
                                        {{ get_csrf_token() }}
                                        {% if student.absent(current_class.id) %}
                                            <input type="submit" name="action" value="Remove Absence" formaction="{{ url_for('classes.remove_absence', class_id=current_class.id, date='today', student_id=student.user_id) }}">
                                        {% else %}
                                            <input type="submit" name="action" value="Mark Absent" formaction="{{ url_for('classes.mark_absent', class_id=current_class.id, date='today', student_id=student.user_id) }}">
                                        {% endif %}
                                    </form>
                                {% endcall %}
                            {% else %}
                                {{ print_user(student.user, class=print_user_class) }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="emphasized"><em>No students enrolled.</em></p>
                {% endif %}
            </section>
        {% endblock %}
    </section>
{% endblock %}
