{% extends 'class-info.html' %}

{% block title %}Enrollment - {{ super() }}{% endblock %}

{% block enrollment_toggler %}
    {{ nav_link(url_for('classes.class_info', class_id=current_class.id), 'Hide Enrollment Panel') }}
{% endblock %}

{% block subcontent %}
    <section>
        <header><h4>Enrollment</h4></header>
        <form class="inlined" action="" method="post">
            <div>
                {{ get_csrf_token() }}
                {{ form.student.label }}
                {{ form.student }}
            </div>
            <div>
                <input type="submit" name="action" value="Enroll Student">
                <input type="submit" name="action" value="Withdraw Student">
            </div>
        </form>
    </section>
    {{ super() }}
{% endblock %}
