{% extends 'forms.html' %}

{% from 'macros.html' import action_links, get_return_link with context %}

{% block title %}{{ card_title }} - {{ title }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header>
            <h2>{{ title }}</h2>
            {% call action_links() %}
                {{ get_return_link() }}
            {% endcall %}
        </header>

        {% block subcontent %}
            <section class="card">
                <header><h3>{{ card_title }}</h3></header>
                {{ print_form(form=form, method='post') }}
            </section>
        {% endblock %}
    </section>
{% endblock %}
