<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if title %}{{ title }} - {% endif %}Whiteboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        {% if form %}<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">{% endif %}
        {% block style %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    </head>
    <body>
        <header class="masthead">
            <nav class="masthead">
                <h1><a {% if request.endpoint == "root.index" %}class="active-page"{% endif %} href="{{ url_for('root.index') }}" title="Home Page">Whiteboard</a></h1>
                <ul>
                    {% with nav_bar = [
                        ('auth.register', 'Register (Student)', not current_user.is_authenticated),
                        ('auth.register_teacher', 'Register (Teacher)', not current_user.is_authenticated),
                        ('auth.login', 'Log In', not current_user.is_authenticated),
                        ('auth.logout', 'Log Out', current_user.is_authenticated),
                    ] %}
                        {% include "lists.html" %}
                    {% endwith %}
                </ul>
            </nav>
        </header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <section class="messages masthead">
                    <h1>Messages</h1>
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% endwith %}
        <main>{% block content %}{% endblock %}</main>
    </body>
</html>
