{% from 'macros.html' import nav_link with context %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Whiteboard{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
        {% block style %}{% endblock %}
        {% block script %}{% endblock %}
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <header class="masthead">
            <nav class="masthead">
                <header><h1><a {% if request.endpoint == 'root.index' %}class="active-page"{% endif %} href="{{ url_for('root.index') }}" title="Home Page">Whiteboard</a></h1></header>
                <ul>
                    {{ nav_link('classes.index', 'Classes', current_user.is_authenticated) }}
                    {{ nav_link('academics.index', 'Academics', title='Departments, Majors, Courses, ' + config.ACADEMIC_TERM.system_plural_capital) }}
                    {{ nav_link('auth.users', 'Users', current_user.is_authenticated) }}
                    {{ nav_link('auth.applicants', 'Applicants', current_user.is_teacher) }}
                    {{ nav_link('auth.register', 'Register', current_user.is_anonymous) }}
                    {{ nav_link('auth.login', 'Log In', current_user.is_anonymous) }}
                    {{ nav_link('auth.logout', 'Log Out', current_user.is_authenticated) }}
                </ul>
            </nav>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <section class="messages masthead">
                    <header><h2>Messages</h2></header>
                    <ul>
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}
        {% endwith %}

        <main>{% block content %}{% endblock %}</main>
    </body>
</html>
