{% macro nav_link(href, caption, print_condition=True, title='') %}
    {% if print_condition %}
        <li>
            <a {% if href == request.endpoint %}class="active-page"{% endif %} href="{{ url_for(href) }}" {% if title %}title="{{ title }}"{% endif %}>{{ caption }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% macro admin_link(href, caption) %}
    {% if current_user.is_teacher %}
        <p>
            <a class="button float-top-right" href="{{ href }}">{{ caption }}</a>
        </p>
    {% endif %}
{% endmacro %}

{% macro get_csrf_token() %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{% endmacro %}

{% macro print_form(form, method, action='') %}
    <form action="{{ action }}" method="{{ method }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                <div>
                    {% if field.type == 'BooleanField' %}
                        {{ field }}
                        {{ field.label }}
                    {% else %}
                        {% if field.type != 'SubmitField' %}
                            {{ field.label }}
                        {% endif %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <ul class="messages">
                            {% for error in field.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}
