{% macro nav_link(destination, caption, print_condition=True, title='') %}
    {% if print_condition %}
        <li>
            {% set destination_is_endpoint = '/' not in destination  %}
            <a {% if destination_is_endpoint and destination == request.endpoint %}
                class="active-page"
            {% endif %}
            {% if destination_is_endpoint %}
                href="{{ url_for(destination) }}"
            {% else %}
                href="{{ destination }}"
            {% endif %}
            {% if title %}
                title="{{ title }}"
            {% endif %}
            >{{ caption }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% macro action_links(heading_level, print_condition=True, class='actions float-top-right', header='Actions', use_list=True) %}
    {% if print_condition %}
        <nav {% if class %}class="{{ class }}"{% endif %}>
            <header><{{ heading_level }}>{{ header }}</{{ heading_level }}></header>
            {% if use_list %}
                <ul>
                    {{ caller() }}
                </ul>
            {% else %}
                {{ caller() }}
            {% endif %}
        </nav>
    {% endif %}
{% endmacro %}

{% macro get_return_link() %}
    {% if request.referrer and request.referrer != request.url %}
        {{ nav_link(request.referrer, 'Return to Previous Page') }}
    {% else %}
        {{ nav_link(url_for('root.index'), 'Return to Home Page') }}
    {% endif %}
{% endmacro %}

{% macro get_csrf_token() %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
{% endmacro %}

{% macro print_form(form, method, action='', class='') %}
    <form {% if class %}class="{{ class }}"{% endif %} action="{{ action }}" method="{{ method }}">
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                <div>
                    {% if field.type == 'BooleanField' %}
                        {{ field }}
                        {{ field.label }}
                    {% else %}
                        {% if field.type != 'SubmitField' %}
                            {{ field.label }}
                        {% endif %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <ul class="messages">
                            {% for error in field.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>
{% endmacro %}

{% macro print_user(user, class='') %}
    <li class="{% if class %}{{ class }} {% endif %}card">
        <a href="{{ url_for('auth.user_info', user_id=user.id) }}">{{ user }}</a>
        {% if caller %}
            {{ caller() }}
        {% endif %}
    </li>
{% endmacro %}

{% macro print_user_info(user, heading_level='h2') %}
    <header>
        <{{ heading_level }}>
            {% if heading_level != 'h2' %}
                {# This is being displayed on a page other than the `auth.user_info` page. #}
                <a href="{{ url_for('auth.user_info', user_id=user.id) }}">{{ user }}</a>
            {% else %}
                {{ user }}
            {% endif %}
        </{{ heading_level }}>
    </header>

    {% if user == current_user %}
        {% call action_links('h4') %}
            {{ nav_link(url_for('auth.edit_profile'), 'Edit') }}
        {% endcall %}
    {% endif %}

    <p>Email: <strong class="emphasized">{{ user.email }}</strong></p>
    <p>Join Date: <strong class="emphasized">{{ user.join_date }}</strong></p>

    {% if user.is_teacher %}
        <p>Department: <strong class="emphasized">{{ user.teacher.department or 'Undeclared' }}</strong></p>
        <p>Office: <strong class="emphasized">{{ user.teacher.office or 'Undeclared' }}</strong></p>
        <p>Office Hours: <strong class="emphasized">{{ user.teacher.office_hours or 'Undeclared' }}</strong></p>
    {% else %}
        <p>Major: <strong class="emphasized">{{ user.student.major or 'Undeclared' }}</strong></p>
    {% endif %}
{% endmacro %}

{% macro print_class_info(class) %}
    <p>Schedule: <strong class="emphasized">{{ class.schedule }}</strong></p>
    <p>Location: <strong class="emphasized">{{ class.location }}</strong></p>
    <p>Instructor: <strong class="emphasized">{{ class.teacher }}</strong></p>
{% endmacro %}

{% macro print_class_card(class, emphasized=True, actions_print_condition=True) %}
    {% set section_style = '' %}
    {% if class.has_user(current_user) %}
        {% if current_user.is_student and current_user.student.absent(class.id) %}
            {% set section_style = 'alert' %}
        {% elif emphasized %}
            {% set section_style = 'emphasized' %}
        {% endif %}
    {% endif %}

    <section class="{% if section_style %}{{ section_style }} {% endif %}card">
        <header><h3><a href="{{ url_for('classes.class_info', class_id=class.id) }}">{{ class }}</a></header></h3>
        {% call action_links('h4', actions_print_condition) %}
            {{ nav_link(url_for('classes.edit_class', class_id=class.id), 'Edit', class.teacher == current_user.teacher) }}
            {{ nav_link(url_for('classes.absence_log', class_id=class.id), 'View Absence Log') }}
        {% endcall %}

        {{ print_class_info(class) }}
    </section>
{% endmacro %}

{% macro get_user_classes(user, emphasized=False) %}
    {% for class in user.classes %}
        {{ print_class_card(class, emphasized) }}
    {% endfor %}
{% endmacro %}
