{% extends 'forms.html' %}

{% from 'macros.html' import action_links with context %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header><h2>{{ title }}</h2></header>
        {% call action_links('h3') %}
            {{ nav_link(url_for(back_url or 'root.academics'), 'Go Back') }}
        {% endcall %}
        <section class="card">
            <header><h3>{{ card_title }}</h3></header>
            {{ print_form(form=form, method='post') }}
        </section>
    </section>
{% endblock %}
