{% extends "management.html" %}

{% from "macros.html" import print_form, get_identity with context %}

{% block title %}Applicants - {{ super() }}{% endblock %}

{% macro application(applicant) %}
    <header>
        <h2 {% if applicant.is_teacher %}class="emphasized"{% endif %}>{{ get_identity(applicant) }} Applicant #{{ applicant.id }}</h2>
    </header>
    <table>
        <tr>
            <td>{{ config.CAMPUS_CARD.formal_name }}:</td>
            <td>{{ applicant.username }}</td>
        </tr>
        <tr>
            <td>Full Name:</td>
            <td>{{ applicant.full_name }}</td>
        </tr>
        {% if applicant.display_name %}
            <tr>
                <td>Display Name:</td>
                <td>{{ applicant.display_name }}</td>
            </tr>
        {% endif %}
        <tr>
            <td>Email Address:</td>
            <td>{{ applicant.email }}</td>
        </tr>
    </table>
{% endmacro %}

{% block subcontent %}
    {% if applicants.count() > 0 %}
        {% for applicant in applicants %}
            <section class="applicant card">
                {{ application(applicant) }}
                <form class="inlined" action="{{ url_for('management.admissions', applicant_id=applicant.id) }}" method="post">
                    <div>
                        {{ get_csrf_token() }}
                        <input class="emphasized" type="submit" name="decision" value="Accept">
                        <input type="submit" name="decision" value="Reject">
                    </div>
                </form>
            </section>
        {% endfor %}
    {% else %}
        <section class="card">
            <header><h2>Applicants</h2></header>
            <p><em class="emphasized">No applicants at this time.</em></p>
        </section>
    {% endif %}
{% endblock %}
