{% extends "index.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='management.css') }}">
{% endblock %}

{% block content %}
    {% for applicant in applicants %}
        <section class="applicant">
            {% if applicant.is_teacher %}
                <h2 class="emphasized">Teacher Applicant #{{ applicant.id }}</h2>
            {% else %}
                <h2>Student Applicant #{{ applicant.id }}</h2>
            {% endif %}
            <table>
                <tr>
                    <td>{{ config.CAMPUS_CARD.formal_name }}:</td>
                    <td>{{ applicant.username }}</td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td>{{ applicant.full_name }}</td>
                </tr>
                {% if applicant.display_name %}
                    <tr>
                        <td>Display Name:</td>
                        <td>{{ applicant.display_name }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Email Address:</td>
                    <td>{{ applicant.email }}</td>
                </tr>
            </table>
        </section>
    {% endfor %}
{% endblock %}
