{% extends 'layout.html' %}

{% from 'macros.html' import action_links with context %}

{% block title %}Academics - {{ super() }}{% endblock %}

{% block content %}
    <section id="index">
        <header><h2>Index</h2></header>
        <nav>
            <ul>
                <li><a href="#departments">Departments</a></li>
                <li><a href="#majors">Majors</a></li>
                <li><a href="#majors">Courses</a></li>
                <li><a href="#terms">{{ config.ACADEMIC_TERM.system_plural_capital }}</a></li>
            </ul>
        </nav>
    </section>

    <section id="departments">
        <header>
            <h2>Departments</h2>
            {% call action_links(current_user.is_teacher) %}
                {{ nav_link(url_for('academics.new_department'), 'Add New Department', append_return_url=True) }}
            {% endcall %}
        </header>

        {% if departments %}
            {% for department in departments %}
                <section class="card">
                    <header>
                        <h3>{{ department }}</h3>
                        {% call action_links(current_user.is_teacher) %}
                            {{ nav_link(url_for('academics.edit_department', department_id=department.id), 'Edit', append_return_url=True) }}
                        {% endcall %}
                    </header>
                    <p>Chair: <strong class="emphasized">{{ department.chair }}</strong></p>
                    <p>Office: <strong class="emphasized">{{ department.office }}</strong></p>
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No departments listed.</em></p>
        {% endif %}
    </section>

    <section id="majors">
        <header>
            <h2>Majors</h2>
            {% call action_links(current_user.is_teacher) %}
                {{ nav_link(url_for('academics.new_major'), 'Add New Major', append_return_url=True) }}
            {% endcall %}
        </header>

        {% if majors %}
            {% for major in majors %}
                <section class="card">
                    <header>
                        <h3>{{ major }}</h3>
                        {% call action_links(current_user.is_teacher) %}
                            {{ nav_link(url_for('academics.edit_major', major_id=major.id), 'Edit', append_return_url=True) }}
                        {% endcall %}
                    </header>
                    {% if major.department %}
                        <p>Department: <strong class="emphasized">{{ major.department.name }}</strong></p>
                    {% endif %}
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No majors listed.</em></p>
        {% endif %}
    </section>

    <section id="courses">
        <header>
            <h2>Courses</h2>
            {% call action_links(current_user.is_teacher) %}
                {{ nav_link(url_for('academics.new_course'), 'Add New Course', append_return_url=True) }}
            {% endcall %}
        </header>

        {% if courses %}
            {% for course in courses %}
                <section class="card">
                    <header>
                        <h3>{{ course }}</h3>
                        {% call action_links(current_user.is_teacher) %}
                            {{ nav_link(url_for('academics.edit_course', course_id=course.id), 'Edit', append_return_url=True) }}
                        {% endcall %}
                    </header>
                    <p>Name: <strong class="emphasized">{{ course.name }}</strong></p>
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No courses listed.</em></p>
        {% endif %}
    </section>

    <section id="terms">
        <header>
            <h2>{{ config.ACADEMIC_TERM.system_plural_capital }}</h2>
            {% call action_links(current_user.is_teacher) %}
                {{ nav_link(url_for('academics.new_term'), 'Add New ' + config.ACADEMIC_TERM.system_capital, append_return_url=True) }}
            {% endcall %}
        </header>

        {% if terms %}
            {% for term in terms %}
                <section class="card">
                    <header>
                        <h3>{{ term }}</h3>
                        {% call action_links(current_user.is_teacher) %}
                            {{ nav_link(url_for('academics.edit_term', term_id=term.id), 'Edit', append_return_url=True) }}
                        {% endcall %}
                    </header>
                    <p>Start Date: <strong class="emphasized">{{ term.start_date }}</strong></p>
                    <p>End Date: <strong class="emphasized">{{ term.end_date }}</strong></p>
                </section>
            {% endfor %}
        {% else %}
            <p class="emphasized"><em>No {{ config.ACADEMIC_TERM.system_plural }} listed.</em></p>
        {% endif %}
    </section>
{% endblock %}
