{% extends 'forms.html' %}

{% from 'macros.html' import action_links, get_return_link with context %}

{% block title %}{{ title }} - {{ super() }}{% endblock %}

{% block content %}
    <section>
        <header><h2>{{ title }}</h2></header>
        {% call action_links('h3') %}
            {{ get_return_link() }}
        {% endcall %}

        <section class="card">
            <header><h3>{{ card_title }}</h3></header>
            {{ print_form(form=form, method='post') }}
        </section>
    </section>
{% endblock %}
