.applicant table {
    margin: calc(-1 * var(--thick));
    border-spacing: var(--thick);
}

.applicant tr:first-child {
    font-weight: bold;
}

.applicant td:first-child {
    text-align: right;
}
