:root {
    --input-bg-color: rgba(255, 255, 255, 0.6);
    --input-bg-color-focus: rgba(255, 255, 255, 0.8);
}

form {
    margin: var(--margin-minor) 0;
}

form:not(.inlined) input {
    margin: calc(var(--margin-minor) / 2) 0;
}

form:not(.inlined) input:not([type=checkbox]) {
    display: block;
}

form:not(.inlined) input[type=checkbox], form:not(.inlined) input[type=submit] {
    margin-top: var(--margin-minor);
}

form.inlined input {
    vertical-align: middle;
}

label, input, .output {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

input, .output {
    padding: var(--thick) calc(2 * var(--thick));
    border: 0;
    outline: 0;
    background-color: var(--input-bg-color);
}

input:hover, input:focus {
    background-color: var(--input-bg-color-focus);
}

input:not([type=checkbox]) {
    border: var(--thin) solid var(--header-bg-color);
    border-left-width: var(--thick);
    border-bottom-color: var(--header-outline-color);
}

input:not([type=checkbox]):hover {
    border-color: var(--header-outline-color);
    border-bottom-color: var(--text-color);
}

input:not([type=checkbox]):focus {
    border-color: var(--text-color-saturated);
}

input:not([type=checkbox]):not([type=date]):not([type=submit]) {
    width: 20em;
    max-width: 100%;
}

input[type=submit] {
    border: var(--thin) solid var(--anchor-color);
    border-bottom-width: var(--medium);
    border-radius: var(--thick);
    color: var(--anchor-color);
    font-weight: bold;
}

input[type=submit]:hover, input[type=submit]:active {
    border-color: var(--highlight-color);
    color: var(--highlight-color);
}

input[type=submit]:active {
    border-top-width: var(--medium);
    border-bottom-width: var(--thin);
}

input.emphasized {
    color: var(--text-color-saturated);
}

@media only screen and (min-width: 800px) {
    form.inlined {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
