:root {
    --input-bg-color: rgba(255, 255, 255, 0.75);
    --input-bg-color-focus: white;
}

form {
    margin: var(--margin-minor) 0;
}

form:not(.inlined) input {
    margin: calc(var(--margin-minor) / 2) 0;
}

form:not(.inlined) input:not([type=checkbox]) {
    display: block;
}

form:not(.inlined) input[type=checkbox], form:not(.inlined) input[type=submit] {
    margin-top: var(--margin-minor);
}

form.inlined input {
    vertical-align: middle;
}

label, input {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

input {
    padding: var(--thick) calc(2 * var(--thick));
    border: 0;
    outline: 0;
}

input[type=text], input[type=password] {
    width: 20em;
    max-width: 100%;
    border: var(--thin) solid var(--header-bg-color);
    border-left-width: var(--thick);
    border-bottom-color: var(--header-outline-color);
    background-color: var(--input-bg-color);
}

input[type=text]:hover, input[type=password]:hover {
    border-color: var(--header-outline-color);
    border-bottom-color: var(--text-color);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: var(--text-color-saturated);
    background-color: var(--input-bg-color-focus);
}

input[type=submit] {
    border: var(--thin) solid var(--text-color-subdued);
    border-bottom-width: var(--medium);
    border-radius: var(--thick);
    background-color: var(--input-bg-color-focus);
}

input[type=submit]:hover {
    border-color: var(--text-color);
}

input[type=submit]:active {
    border-top-width: var(--medium);
    border-bottom-width: var(--thin);
    border-color: var(--highlight-color);
}

input[type=submit].emphasized {
    color: inherit;
    font-weight: bold;
}

@media only screen and (min-width: 800px) {
    form.inlined {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
