:root {
    --input-bg-color: rgba(255, 255, 255, 0.75);
    --input-bg-color-focus: white;
}

form {
    margin: var(--margin-minor) 0;
}

label, input {
    margin: calc(var(--margin-minor) / 2) 0;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

input:not([type=checkbox]) {
    display: block;
}

input {
    padding: var(--thick) calc(var(--thick) * 2);
    border: 0;
    outline: 0;
}

input[type=text], input[type=password] {
    border: var(--thin) solid var(--header-bg-color);
    border-left-width: var(--thick);
    border-bottom-color: var(--header-outline-color);
    background-color: var(--input-bg-color);
}

input[type=text]:hover, input[type=password]:hover {
    border-color: var(--header-outline-color);
    border-bottom-color: var(--text-color);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: var(--text-color-saturated);
    background-color: var(--input-bg-color-focus);
}

input[type=checkbox], input[type=submit] {
    margin-top: var(--margin-minor);
}

input[type=submit] {
    border: var(--thin) solid var(--text-color-subdued);
    border-bottom-width: var(--medium);
    border-radius: var(--thick);
    background-color: var(--input-bg-color-focus);
}

input[type=submit]:hover {
    border-color: var(--text-color);
}

input[type=submit]:active {
    border-top-width: var(--medium);
    border-bottom-width: var(--thin);
    border-color: var(--highlight-color);
}
