/* Twitter */

#twitter p {
    margin: calc(var(--margin-minor) / 2) 0;
}

#twitter p, .user div, .media {
    text-align: center;
}

#tweets ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--margin-minor);
    margin-left: 0;
}

#tweets li {
    display: block;
    padding: calc(var(--margin-minor) / 2);
}

#tweets li:hover {
    background-color: var(--main-bg-color);
}

.user, .interact a {
    font-size: 0.875em;
}

.user {
    display: flex;
    align-items: center;
    padding-bottom: calc(var(--margin-minor) / 4);
    border-bottom: var(--thin) solid var(--card-outline-color);
}

.user img, .user div {
    display: inline-block;
}

.user img, .media img {
    border-radius: var(--thick);
    border: var(--thin) solid var(--card-outline-color);
    overflow: hidden;
    box-sizing: border-box;
}

.user img {
    width: 5em;
    height: 5em;
}

.user img:hover {
    border-color: var(--highlight-color);
}

.user div {
    flex: 1;
}

.timePosted a {
    color: var(--text-color-subdued);
    font-size: 0.75em;
}

.media {
    padding-top: calc(var(--margin-minor) / 4);
    border-top: var(--thin) solid var(--card-outline-color);
}

.media img {
    max-width: 100%;
    vertical-align: middle;
}

#leftArrow, #rightArrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color-subdued);
    font-size: 30px;
    cursor: pointer;
}

#leftArrow {
    float: left;
    padding-right: var(--margin-minor);
}

#rightArrow {
    float: right;
    padding-left: var(--margin-minor);
}

#leftArrow:hover, #rightArrow:hover {
    color: var(--text-color-saturated);
}

@media only screen and (min-width: 800px) {
    #tweets ul {
        grid-template-columns: 1fr 1fr;
        gap: calc(var(--margin-minor) / 2);
    }

    #twitter .actions {
        padding: var(--margin-minor);
    }
}
