:root {
    --thin: 0.0625rem;
    --medium: 0.125rem;
    --thick: 0.25rem;
    --margin-minor: 1rem;
    --margin-major: 2rem;

    --text-color: hsl(204, 80%, 20%);
    --text-color-saturated: hsl(216, 100%, 40%);
    --text-color-subdued: hsl(210, 20%, 40%);
    --main-bg-color: hsl(204, 5%, 95%);
    --header-bg-color: hsl(138, 25%, 90%);
    --header-outline-color: hsl(168, 25%, 60%);
    --card-bg-color: rgba(255, 255, 255, 0.5);
    --card-outline-color: rgba(0, 0, 0, 0.1);

    --anchor-color: hsl(282, 50%, 50%);
    --highlight-color: hsl(192, 50%, 50%);
    --success-color: hsl(108, 50%, 30%);
    --error-color: hsl(342, 100%, 42%);
}

html, body, h2, h3, h4, h5, h6, p, ul, header.masthead *, .messages.masthead ul {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

h2, h3, h4, h5, h6, p, ul, .card {
    margin: var(--margin-minor) 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.375em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.125em;
}

h6 {
    font-size: 1em;
}

ul {
    margin-left: var(--margin-major);
}

a {
    color: var(--anchor-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}

header.masthead, main {
    margin-bottom: var(--margin-major);
}

header.masthead {
    background-color: var(--header-bg-color);
    border-bottom:var(--thin) solid var(--header-outline-color);
    border-top:var(--thin) solid transparent;
}

nav.masthead h1 {
    font-size: inherit;
}

nav.masthead li, nav.masthead a, nav.masthead a.active-page::after {
    display: block;
}

nav.masthead a {
    position: relative;
    padding: var(--margin-minor);
}

nav.masthead a.active-page::after {
    content: '';
    position: absolute;
    width: calc(var(--margin-minor) / 2);
    height: 50%;
    bottom: 25%;
    left: 0;
    background: linear-gradient(to right, var(--text-color) 40%, var(--highlight-color) 40%);
    outline: var(--thin) solid var(--header-outline-color);
}

.messages .success {
    color: var(--success-color);
}

.messages .error {
    color: var(--error-color);
}

.messages.masthead header, .actions header {
    display: none;
}

.messages.masthead ul {
    list-style-position: inside;
    list-style-image: url('/static/info.svg');
}

.messages.masthead li {
    margin: var(--margin-minor);
}

.messages.masthead .success {
    list-style-image: url('/static/success.svg');
}

.messages.masthead .error {
    list-style-image: url('/static/error.svg');
    font-weight: bold;
}

main, .card {
    padding: 0 var(--margin-minor);
    box-sizing: border-box;
}

main section {
    position: relative;
    margin-top: var(--margin-major);
}

footer {
    color: var(--text-color-subdued);
}

.card, .actions li, #tweets li, .interact a, button {
    border: var(--thin) solid var(--card-outline-color);
    border-radius: var(--thick);
    background-color: var(--card-bg-color);
    box-shadow: 0 var(--thin) var(--thin) var(--card-outline-color);
}

.actions ul {
    margin-left: 0;
}

.actions li, .actions a, .interact a, button {
    display: inline-block;
    box-sizing: border-box;
}

.actions a, .interact a, button {
    padding: calc(var(--margin-minor) / 4) calc(var(--margin-minor) / 2);
}

.actions li:hover, .interact a:hover, button:hover:not(:disabled), button:active:not(:disabled) {
    border-color: var(--highlight-color);
}

button {
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

button:active {
    background-color: var(--main-bg-color);
}

button:disabled {
    background-color: var(--card-outline-color);
}

.emphasized {
    color: var(--text-color-saturated);
}

.card.emphasized {
    border-color: var(--header-outline-color);
    color: inherit;
}

.card.alert {
    border-color: var(--error-color);
}

@media only screen and (min-width: 800px) {
    nav.masthead, .messages.masthead ul, main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    nav.masthead, nav.masthead ul {
        display: flex;
    }

    nav.masthead a.active-page::after {
        width: 50%;
        height: var(--thick);
        bottom: 0;
        left: 25%;
        background: linear-gradient(to right, var(--anchor-color) 25%, var(--main-bg-color) 25%);
    }

    .actions ul {
        margin: 0;
    }

    .card .actions ul {
        margin: var(--margin-minor);
    }

    .float-top-right {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media only screen and (min-width: 800px) and (min-height: 300px) {
    header.masthead {
        position: sticky;
        top: calc(-1rem - 2 * var(--margin-minor) - var(--thick));
        z-index: 1;
    }

    header.masthead:hover {
        top: 0;
    }
}
