.user-list {
    margin-left: 0;
}

.user-list ul {
    position: relative;
    margin: 0;
    list-style: none;
}

.user-list > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list > li > a {
    flex: 1;
    padding: var(--margin-minor) 0;
}

.user-list form {
    margin: 0;
}

.current-user {
    border-color: var(--header-outline-color);
}

.absent {
    border-color: var(--error-color);
}
